body{
    font-size: 12px;
    font-family: arialamuregular,Verdana,arial unicode,Sylfaen,Arial;
    width: 1000px;
    margin: 0 auto;
    padding: 17px 15px 20px;
    background: rgb(255, 255, 255);
    z-index: 50;
    position: relative;
  }
  
  .header{
    font-size: 12px;
    font-family: arialamuregular,Verdana,arial unicode,Sylfaen,Arial;
    float: left;
    width: 100%;
    border-bottom: 1px solid #6b9185;
    padding-bottom: 35px;
  
  }
  
  .list>td{
    cursor: pointer;
    border-right: 2px solid #ffffff;
    border-bottom-color:#F87822;
    margin-left: 3px;
  }
  
  .list>td:hover{
    background-color: #F87822;
  }
  
  .bankname{
    background-color: #ffffff;
  }
  
  .bank_manu{
    background-color: #EEF2F4;
  }
  
  .menu-list{
    font-size: 12px;
    font-family: arialamuregular,Verdana,arial unicode,Sylfaen,Arial;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: #E5E5E5;
    height: 35px;
    margin: 20px 0;
    width: 100%;
    text-align: center;
    /* border-bottom: 1px solid #ffbe5e; */
  }
  
  .date_time{
    float:right; 
  }
  
  .logo{
    cursor: pointer;
    font-size: 12px;
    font-family: arialamuregular,Verdana,arial unicode,Sylfaen,Arial;
    float: left;
  }
  
  .table_bank>table, tr, td {
    border: 1px solid black;
  }
  
  .table_bank {
    margin-top: 25px;
    border-collapse: collapse;
    font-size: 12px;
    font-family: arialamuregular,Verdana,arial unicode,Sylfaen,Arial;
    width: 100%;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    border: solid 1px rgb(24, 22, 22)!important;
    border-collapse: collapse;
    text-align: center;
  }
  .table_bank>table{
    border-collapse: collapse;
    width: 100%;
  }
  
  .branch {
    cursor: pointer;
    padding: 15px 30px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
    color:#FF0000;
  }
   
  .branch>td {
    padding:12px 30px;
  }
  
  .min_max {
    text-align: left;
  }
  
  a {
    text-decoration: none;
    color:#FF0000
  }
  
  
  .min_max>td {
    padding: 0px 12px;
  }
  
  .branch:hover {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
  }
  
  .star {
    cursor: pointer;
  }
  
  button {
    border:none;
    background-color: #ffffff;
    cursor: pointer;
  }
  
  .table_bank>td {
    font-family: arialamuregular,Verdana,arial unicode,Sylfaen,Arial;
    border-collapse: collapse;
    border: solid 1px rgb(105, 104, 104)!important;
    font-size: 11px;
    height: 28px;
    background: #ffffff;
    background-color: #ffffff;
    padding: 3px 2px;
    text-align: center;
  }
  
  .bank {
    border-collapse: collapse;
    border: solid 1px #ccc!important;
    font-size: 12px;
    padding: 7px 2px 5px;
    font-family: arialamubold,arial unicode,Sylfaen,Arial;
    vertical-align: middle;
    text-align: center;
    width: 190px;
    color : #183ee6;
    font-weight: 700;
    
  }
  
  .rate_type{
    margin-top: 30px;
  }
  
  .language>img{
    cursor: pointer;
  }
  
  .table_manu>td>select {
    cursor: pointer;
  }
  
  .rate_type>tr>td{
    border:2px solid white;
  }
  
  .rate_type>tr>td>input{
    cursor: pointer;
  
  }
  
  .rate_type>tr>th{
    border-right: 2px solid #E5E5E5;
  }